Support Triage Agent.json
{
  "name": "Support Triage Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7cb3ed2d-736d-4a2f-9259-9ec00b071931",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1088,
        80
      ],
      "webhookId": "84aa28b9-59df-4504-a00a-ddad93975f4f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.body.customer_name.trim() }}"
            },
            {
              "id": "a2",
              "name": "email",
              "type": "string",
              "value": "={{ $json.body.email.trim().toLowerCase() }}"
            },
            {
              "id": "a3",
              "name": "message",
              "type": "string",
              "value": "={{ $json.body.message.trim() }}"
            },
            {
              "id": "a4",
              "name": "channel",
              "type": "string",
              "value": "={{ $json.body.channel || 'unknown' }}"
            },
            {
              "id": "a5",
              "name": "received_at",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "id": "a6",
              "name": "ticket_id",
              "type": "string",
              "value": "=TCK-{{ Math.floor(Math.random() * 90000 + 10000) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0aa7a96-2557-4177-b3a5-9ebb9545c7e5",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer message: \"{{ $json.message }}\"\nChannel: {{ $json.channel }}",
        "options": {
          "systemMessage": "You are a support triage assistant. Read the customer message and extract structured details. Respond ONLY with valid JSON, no prose, no markdown fences, matching exactly this shape:\n{\n  \"category\": string,        // e.g. shipping_delay, billing, bug_report, account_access, other\n  \"urgency\": \"low\" | \"medium\" | \"high\",\n  \"sentiment\": \"neutral\" | \"frustrated\" | \"angry\" | \"positive\",\n  \"requested_action\": string,\n  \"summary\": string           // one sentence\n}"
        }
      },
      "id": "63b2dd59-a78f-4794-b9fd-669ec19fbf23",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -688,
        -16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "category",
              "type": "string",
              "value": "={{ JSON.parse($json.output).category }}"
            },
            {
              "id": "b2",
              "name": "urgency",
              "type": "string",
              "value": "={{ JSON.parse($json.output).urgency }}"
            },
            {
              "id": "b3",
              "name": "sentiment",
              "type": "string",
              "value": "={{ JSON.parse($json.output).sentiment }}"
            },
            {
              "id": "b4",
              "name": "requested_action",
              "type": "string",
              "value": "={{ JSON.parse($json.output).requested_action }}"
            },
            {
              "id": "b5",
              "name": "summary",
              "type": "string",
              "value": "={{ JSON.parse($json.output).summary }}"
            },
            {
              "id": "b6",
              "name": "ticket_id",
              "type": "string",
              "value": "={{ $('Normalize Input').item.json.ticket_id }}"
            },
            {
              "id": "b7",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $('Normalize Input').item.json.customer_name }}"
            },
            {
              "id": "b8",
              "name": "email",
              "type": "string",
              "value": "={{ $('Normalize Input').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b54a1fc-2437-4ba5-ba94-067d65007352",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98bb3a20-0dab-49fe-9ca4-48279601ff71",
      "name": "Urgency Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/REPLACE/WITH/YOUR_WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: `:rotating_light: High-urgency ticket ${$json.ticket_id} from ${$json.customer_name} (${$json.email})\\nCategory: ${$json.category}\\nSentiment: ${$json.sentiment}\\nSummary: ${$json.summary}` }) }}",
        "options": {}
      },
      "id": "0e216016-30d5-4e33-8698-a3f670065d05",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        -32
      ]
    },
    {
      "parameters": {
        "schema": {
          "value": "public"
        },
        "table": {
          "value": "support_tickets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticket_id }}",
            "customer_name": "={{ $json.customer_name }}",
            "email": "={{ $json.email }}",
            "category": "={{ $json.category }}",
            "urgency": "={{ $json.urgency }}",
            "sentiment": "={{ $json.sentiment }}",
            "summary": "={{ $json.summary }}",
            "received_at": "={{ $('Normalize Input').item.json.received_at }}"
          }
        },
        "options": {}
      },
      "id": "1917974d-a885-44e3-a482-c43f4f4e0876",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        16,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"received\", ticket_id: $json.ticket_id, category: $json.category, urgency: $json.urgency }) }}",
        "options": {}
      },
      "id": "4e4c45c6-737a-4771-94e4-d5b3a1376688",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        80
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "bca07327-22ec-4c53-848d-14904b641342",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -640,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "KaMirsrHWUpml4Jn",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Urgency Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgency Router": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "01848064-afd1-4768-ad9d-a01d90d08186",
  "meta": {
    "instanceId": "83d11f65e04ca1902a727ca2e8317d52f4809dd4b515a51b24a42a924729ec55"
  },
  "nodeGroups": [],
  "id": "QnZhoY38rFaZKWYU",
  "tags": []
}